.container{
	display: grid;
	grid-template: repeat(6, 1fr) / repeat(4, 1fr); 
	grid-gap: 5px 5px;
	padding: 5px;
	margin: 5px auto;
	width: 400px;
	height: 500px;
}
div{
	border-radius: 5px;
	border: 1px solid purple;
}
.item{
	background: lightgrey;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.item:hover{
	background: purple;
	cursor: pointer;
}
p{
	margin: 0px;
}
.item-a{
	grid-column: 1 / span 4;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 10px;
}