<!DOCTYPE html>
<html lang="en" ng-app="makeBtns">
<head>

	<meta charset="UTF-8">
	<title>Calculator-angularJS</title>
	<link rel="stylesheet" href="./css/styles.css">
	<script src="./libs/jquery-3.2.1.min.js"></script>
	<script src="./libs/angular.min.js"></script>
	<script src="./js/main.js"></script>
	<script>
		 

	</script>
</head>

<body>
	  
  	<div class="container" ng-controller="makeBtnsCtrl">
  		<div ng-repeat="btn in btnColl" ng-click="enterNums(btn)" id={{btn.name}} class={{btn.class}}>{{btn.val}}</div>
  	</div>


</body>
</html>